.bloco-tech-skill {
    height: 6rem;
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.logos {
    height: 5rem;
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}