.projetos-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #A67152;
}

.titulo-projects {
  height: 5rem;
  color: #F2E6D8;
  margin-top: 7.5rem;
  margin-left: 5rem;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
} 

.grid-projetos {
  height: 40rem;
  margin-left: 14rem;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 0fr);
  grid-template-rows: repeat(2, 100px);
  gap: 7rem;
}
  