#root {
    
}

.app {
  display: flex;
  flex-direction: column;
}

.container-app {
  display: flex;
}

.header {
  width: 100vw;
  height: 20%;
}

.home {
  display: flex;
  flex-direction: row;
}

.intro {
  margin-top: 8rem;
  margin-left: 7rem;
}

.texto-intro {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 80px;
  color: #5A4A3B;
}

.texto-intro-blue {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 80px;
  color: #615F6D;
  margin: 0;
}

.frame {
  margin-top: 8rem;
  margin-left: 8rem;
  height: 100%;
}