.frame-externo {
    width:  28rem;
    height: 28rem;
    border-radius: 100%;
    background-color: #5A4A3B;
    z-index: 10;
}

.foto {
    width: 28%;
    height: 28%;
    border-radius: 100%;
}

.foto-formatura {
    width: 100%;
    height: 100%;
}