.home-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F2E6D8;
}

  
.intro {
  margin-top: 7rem;
  margin-left: 10rem;
}
  
.texto-intro {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 80px;
  color: #5A4A3B;
}
  
.texto-intro-blue {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 80px;
  color: #615F6D;
  margin: 0;
}
  
.frame {
  margin-top: 32rem;
  margin-left: 10rem;
  height: 100%;
}